@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html {
    width: 100%;
    background-color: #112;
    background: url(./bg.svg);
    aspect-ratio: 2/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200%;
    overflow-y: hidden;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    background-position: 0vw 0vh;
}
body {
    margin: 0;
    width: 100%;
}

div {
    text-align: center;
    width: 100%;
    position: fixed;
}

p {
    margin: 0;
    color: #aaa;
    font-family: 'Comfortaa','Quicksand';
    font-size: 4vh;
    width: 100%;
    vertical-align: middle;
}
p.button {
    display: table-cell;
}


#button {
    background: #8883;
    display: table;
    height: 22vh;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
#button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}


.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* Icons */
#icon {
    width: 7vh;
    height: 7vh;
}
#arrow {
    width: 5vh;
    height: 5vh;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}
#logo {
    width: auto;
    height: 12vh;
}
.logo {
    display: table;
    width: 100vw;
    height: 12vh;
    border-bottom: 5px solid yellow;
    background: #224f;
    z-index: 3;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}



#insert-something-here {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}