@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html {
    color: white;
    font-family: 'Comfortaa','Quicksand';
    background-color: #112;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("./wave.svg") repeat-x, url("./wave.svg") repeat-x, url("./wave.svg") repeat-x;
    background-position: 3200px 80vh, -800px 70vh, 400px 65vh;
    z-index: -1;
    animation: wave 100s linear infinite;
}
@keyframes wave {
    100% {
        background-position: -3200px 80vh, 2400px 70vh, -1200px 65vh;
    }
}
.body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 60%;
    min-height: 480px;
    max-height: 720px;
    aspect-ratio: 4/5;
    background-color: #151525;
    border-radius: 8px;
    box-shadow: #000c 10px 10px 3px;
}
.buttons {
    display: flex;
    align-items: end;
    margin-top: -20px;
}
.nickname {
    margin-top: 2%;
    font-size: 48px;
}
.button {
    display: inline-flex;
    align-items: center;
    min-height: 48px;
    max-height: 72px;
    height: 10%;
    width: 45%;
    border: #335 solid 3px;
    border-radius: 12px;
    margin: 0 2% 2% 2%;
}
.center {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: auto;
}
.button:hover {
    cursor: pointer;
}
.button>div>span {
    font-size: 20px;
}
.button:hover>div>span {
    text-decoration: underline;
}
.discord {
    width: 95%;
}
object {
    display: inline-block;
    max-height: 90%;
    aspect-ratio: 1;
}
img {
    vertical-align:middle;
}
#dpfp {
    aspect-ratio: 1;
    width: 10%;
    min-width: 128px;
    margin-top: -15%;
    border-radius: 10%;
    border: #ff9 solid 5px;
}
footer {
    text-align: center;
}
.bio {
    width: 94%;
    height: 100%;
    vertical-align: middle;
    border-top: #ffc solid 3px;
    padding-top: 5px;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 18px;
}

.tinted {
    color: #fff5;
    font-size: 12px;
}